.hi-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em;
  width: 150px;
  position: absolute;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.hi-icon-title {
  text-align: center;
  color: white;
  font-size: 16px;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.hi-icon {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-icon:before {
  /*font-family: 'ecoicon';*/
  speak: none;
  font-size: 28px;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hi-icon-text:before {
  content: attr(data-attr);
}

.hi-icon-child-wrap {
  text-align: center;
  margin: 0 auto;
  /*padding: 2em 0 3em;*/
  width: 130px;
  position: absolute;
}

.hi-icon-child {
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 15px 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hi-icon-child:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-icon-child:before {
  /*font-family: 'ecoicon';*/
  speak: none;
  font-size: 20px;
  line-height: 75px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.hi-icon-child-title {
  height: 20px;
  font-size: 16px;
  text-align: center;
  color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* Effect 2 */
.hi-icon-effect-2 .hi-icon {
  color: #0e83cd;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.hi-icon-effect-2a .hi-icon:hover {
  color: #0e83cd;
}

.hi-icon-effect-2a .hi-icon:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

/* Effect 2 - child */
.hi-icon-effect-2 .hi-icon-child {
  color: #0e83cd;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon-child:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.hi-icon-effect-2a .hi-icon-child:hover {
  color: #0e83cd;
}

.hi-icon-effect-2a .hi-icon-child:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}

.child-pop-div {
  position: relative;
  width: 450px;
  height: 450px;
}

.child-pop-button-show {
  display: block;
}

.child-pop-button-hide {
  display: none;
}

.more-button {
  height: 140px;
  z-index: 999;
}
